<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-myplugin" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>MyPlugIn</name>
    <js-module name="MyPlugIn" src="www/MyPlugIn.js">
        <!-- can remove prefix  -->
        <clobbers target="MyPlugIn" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="MyPlugIn">
                <!-- Must replace dash "-" with dot "." in value -->
                <param name="android-package" value="cordova.plugin.myplugin.MyPlugIn" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <!-- Must replace dash "-" with slash "/" in target-dir -->
        <source-file src="src/android/MyPlugIn.java" target-dir="src/cordova/plugin/myplugin/MyPlugIn" />
    </platform>
</plugin>
